body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background:linear-gradient(145deg,rgba(240, 225, 245, 0.9));
   color: #656262;
   
  }
  
  .examForm{
    max-width: 800px;
    margin: auto;
    background:transparent;
    padding: 20px;
    border-radius: 12px;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: #6e2d6a;
    font-family: 'Segoe UI', sans-serif;
  }
  h3{
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    font-size: 2rem;
  }
  p{
    text-align: center;
    color:#000 ;
    font-style: italic;
  
  }
  
  .questionForm{
  
    max-width: 800px;
    margin: auto;
    background:transparent;
    padding: 20px;
    border-radius: 12px;
  }
  
  input, textarea, select, button {
    width: 100%;
    padding: 15px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 0;
    border-radius: 10px;
    background:#f5daf3;
    border-color: #000;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 15px;
    height: 50px;
    width: 300px;
    background:#fff;
    color: #090909;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background: #f5daf3;
  }
  #questionList {
    list-style: none;
    padding: 0;
  }
  
  #questionList li {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .question-actions {
    margin-top: 10px;
  }
  
  .question-actions button {
    margin-right: 10px;
    background: #6e2d6a;
    margin-left: 600px;
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .question-actions button:hover {
    background: #000;
  }
  table{
    height: 400px;
    width: 100%;
  
    color: #fff;
    font-size:1.5rem;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5daf3;
  
  }